<h1>Edit <%= @products.name %></h1>

<p>Price (cents): <%= @products.price_in_cents %></p>
<p>Description: <%= @products.description %></p>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
