<h1>Products (<%= @product.length %>)</h1>
<%= link_to "New Product", "/products/new" %>

<% @product.each do |product| %>
<div>
  <p><strong><%= product.name %></strong>, $<%= product.formatted_price %></p>
  <p>Description: <%= product.description %></p>
  <p><%= link_to "View product", product_path(product) %></p>
</div>
<% end %>





