<h1>Products (<%= @products.length %>)</h1>
<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p><%= product.name %>, $<%= product.formatted_price %>:</p>
  <%= product.description %>
  <%= link_to "View product", product_path(product) %>
  <br />
<% end %>





